body {
  background-color: #FCF7F6;
  font-family: Helvetica, sans-serif;
}

/************************
  main container (parent)
*************************/
.main-container {
  background-color: white;
  width: 90%;
  height: 700px;
  margin: 50px auto;
  overflow: hidden;
  border: 1px gray;
  border-radius: 3px;
  box-shadow: 3px 3px 3px gray;
}

/************************
  search bar/heading (top child)
*************************/

.search-bar {
  width: 100%;
  background-color: #F5EFEF;
  padding: 20px;
  box-shadow: 1px 1px 1px gray;
}

input {
  padding: 10px;
  width: 25%;
  font-size: 20px;
  border-radius: 3px;
  border: 1px soild lightgray;
}

/************************
  report list (right child) 
*************************/

.report-container {
  margin: 0 auto;
  float: left;
  background-color: white;
  display: inline-block;
  width: 35%;
  height: inherit;
  overflow: auto;
  border: 1px solid lightgray;
  padding: 0;
}

ul {
  list-style-type: none;
  font-size: 20px;
  margin: 0 left;
  padding: 0;
  text-align: left;

}

.title-preview {
  /*padding: 5px;*/
  margin: 20px auto;
}

.report-items {
  width: 100%;
  border-top: 1px solid lightgray;
  padding: 10px;
  text-align: left;
}

.report-items:hover{
  background-color: lightgray;
}

/************************
  report detail (left child)
*************************/

.report-detail {
  padding: 20px;
  margin-left: 20px;
}


.no-report-selected {
  text-align: center;
  margin: 100px auto;
}